<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="\css\style.css">
</head>

<body>
<!-- @{
    ViewData["Title"] = "Tipos de Vinhos";
}
<h2 class="text-center">@ViewData["Title"]</h2> -->


<div class="row">
    <form>
      <div class="form-group">
        <select class="form-control" id=cbTipo onchange="mudarFiltro(this.value);">
        <option value=0>Selecione um tipo...</option>
        <option value=0>Todos</option>
        @foreach (var tipoVinho in @ViewBag.ListaTipos)
        {
          <option value=@tipoVinho.Id>@tipoVinho.Descricao</option>
        }
      </select>          
      </div>    
    </form>
</div>


<div class="row">

  <button>
    <a asp-controller="Tipos" 
    asp-action="Cubanacan" 
    asp-route-idUsuario = "188"
    asp-route-idVinho = "1"
    asp-route-nota = "5"
    >
    </a>
  </button>

<h1>@ViewBag.abc </h1>

  @if (@ViewBag.Vinhos != null)
  {
  

  @foreach (var vinho in @ViewBag.Vinhos){
  <div class="col-lg-4 mb-5 col-md-6">
    <div class="wine_v_1 text-center pb-4">
      <a href="shop-single.html" class="thumbnail d-block mb-4"><img src="images/wine_1.png" alt="Image" class="img-fluid"></a>
      <h3 class="heading mb-1"><a href="#">@vinho.Descricao</a></h3>
    </div>
    <span class="Uva"><b>Uva:</b> FAZER JOIN</span>
    <span class="price"><b>Valor:</b> R$ @vinho.Valor</span>
    <div class="rate">
      @for(int nota = 5; nota > 0; nota--)
      {
        <input type="radio" id="star@(vinho.Id)_@nota" name="rate@(vinho.Id)" value="@nota" />
        <label for="star@(vinho.Id)_@nota" onClick="votar(@vinho.Id, 1, @nota)" title="@nota">nota</label>
      }
    </div>
  </div>
  }  
  
  }

</div>

              
             

                
                <!-- <a href="cart.html" class="btn add"><span class="icon-shopping-bag mr-3"></span> Add to Cart</a> -->
              </div>
            </div>
          </div>
          
    </div>
    </br>
    </br>
    </body>
    <script type="text/javascript">
      function mudarFiltro(id)
      {
        window.location.href = "https://localhost:5001/Tipos?idTipo=" + id;
      }

      function votar(idVinho, idUsuario, nota)
      {
        window.location.href = `https://localhost:5001/Tipos/Cubanacan?idUsuario=${idUsuario}&idVinho=${idVinho}&nota=${nota}`;
      }
    </script>
      
  </html>
  <!-- <p>Use this page to detail your site's privacy policy.</p>

<div class="row">
  <div class="coluna">
    <img src="\images\slider\vinhos1.jpg" alt="descrição da imagem" style="width:100%">
  </div>
  <div class="coluna">
    <img src="\images\slider\vinhos1.jpg" alt="descrição da imagem" style="width:100%">
  </div>
  <div class="coluna">
    <img src="\images\slider\vinhos1.jpg" alt="descrição da imagem" style="width:100%">
  </div></div>


<style>
.coluna{
  float: left;
  width: 20%;
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>

<div class="rating">
        <a href="http://endereceobackend/api/voteuserwine/1/1/1"><span class="glyphicon glyphicon-star"></span></a>
        <a href="http://endereceobackend/api/voteuserwine/1/1/2"><span class="glyphicon glyphicon-star"></span></a>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
</div> -->